<aside class="bg-dark" id="about">
    <div class="container">
        <div class="call-to-action">
            <h2>Biography</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p> Growing up, I always wanted to make and create new things. When I learned about Computer Science in my teens, 
                    I realized that I could make cool things with it. Since then, Artificial Intelligence became my tool for doing so. 
                    I enjoy creating real-world applications using machine learning and sharing them through open source. 
                    Additionally, I enjoy teaching and discussing topics such as AI, Computer Engineering, Life, and many others. 
                </p>

                <p> As a self-learner since my teens, I have used Youtube's open courses as my university to learn English, Math, AI, and many others.
                    I love to be better 1% at a time and be more productive every day. I have a taste for Neuroscience and
                    Psychology, Personal Development, and Making Friends with Nice People
                </p>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>Research Interest</h3>
                <ul>
                    <li>Machine Learning</li>
                    <li>Deep Learning</li>
                    <li>Graph Neural Networks</li>
                    <li>Sofrware Engineering</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>Education</h3>
                <ul>
                    <li>Bachelor's, Computer Software Engineering @ Shamsipour Technical and Vocational College </li>
                    <li>Associate of Science, Computer Software Engineering @ Shamsipour Technical and Vocational College </li>

                </ul>
            </div>
        </div>
    </div>
</aside>
