<section class="bg-primary" id="projects" , style="padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Open Source Projects</h2>
                <hr class="light">
                <!--<p class="text-faded">Thses are selected projects.</p>
                <a href="#" class="btn btn-default btn-xl">TODO</a> -->
                
                
                
            </div>
        </div>
    </div>

    <style>
        @media screen and (max-width : 320px)
        {
          h3
          {
            font-size:7px; /* or 1em */
          }
        }
        @media screen 
        {
          h3
          {
            font-size:26px;
            font-weight: bold;
          }
        }
        </style>
        
        <section id="portfolio" style="padding: 20px;">
            <div class="container">
                <div class="row">
        
                    <div class="filter all cv col-md-4 col-lg-4 col-md-4 col-sm-6 ">
                        <div class="thumbnail">
                            <a href="https://github.com/sajjjadayobi/FaceLib" target="_blank"
                                class="portfolio-box">
                                <img src="img/face_rec.jpg" alt="Face Recongnizer" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Script
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3 media="screen">Face Analysis Library</h3>
                                <p>Face Detection, Emotion Detection, Age Gender Estimation, Face Recognition</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/sajjjadayobi/FaceLib"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star sajjjadayobi/FaceLib on GitHub">Star</a>
                                <div class="well well-sm">PyTorch - Deep Learning - Computer Vision</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all cv col-md-4 col-lg-4 col-md-4 col-sm-6 ">
                        <div class="thumbnail">
                            <a href="https://github.com/sajjjadayobi/PersianQA" target="_blank"
                                class="portfolio-box">
                                <img src="img/persianqa.png" alt="Persian Question Answering" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            implementation of paper
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Persian Question Answering</h3>
                                <p>First Persian QA dataset with 10K entires in addition to benchmark models</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button"
                                    href="https://github.com/sajjjadayobi/PersianQA"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star sajjjadayobi/PersianQA on GitHub">Star</a>
                                <div class="well well-sm">Open Dataset - NLP - Huggingface - BERT</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all strucdata col-md-4 col-lg-4 col-md-4 col-sm-6 ">
                        <div class="thumbnail">
                            <a href="https://github.com/sajjjadayobi/CLIPfa" target="_blank"
                                class="portfolio-box">
                                <img src="img/clipfa.png" alt="Persian Version of OpenAI's CLIP" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            DataScience
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Persion Version of CLIP</h3>
                                <p>The Only Farsi version of OpenAI's CLIP on 400K pairs of image & farsi captions</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/sajjjadayobi/CLIPfa"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star sajjjadayobi/CLIPfa on GitHub">Star</a>
                                <div class="well well-sm">Open Dataset - NLP - Computer Vision</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all etc col-md-4 col-lg-4 col-md-4 col-sm-6 ">
                        <div class="thumbnail">
                            <a href="https://github.com/sajjjadayobi/ParsBigBird" target="_blank"
                                class="portfolio-box">
                                <img src="img/bigbird.png" alt="persian big bert" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Notes
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Persion BigBird LM</h3>
                                <p>Persian Big Bert with sparse attention for long-range sequences</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button"
                                    href="https://github.com/sajjjadayobi/ParsBigBird"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star sajjjadayobi/ParsBigBird on GitHub">Star</a>
                                <div class="well well-sm">NLP - Language Model - BERT</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all nlp col-md-4 col-lg-4 col-md-4 col-sm-6 ">
                        <div class="thumbnail">
                            <a href="https://github.com/sajjjadayobi/sadlearn" target="_blank" class="portfolio-box">
                                <img src="img/fc.png" alt="fully connected networks" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            NLP
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Sadlearn Library</h3>
                                <p>Implentation of Fully Connected networks with pure python and numpy</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/sajjjadayobi/sadlearn"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star sajjjadayobi/sadlearn on GitHub">Star</a>
                                <div class="well well-sm">Python - Sklearn - AutoDiff</div>
                            </div>
                        </div>
                    </div>
 
                    
                </div>
            </div>
        </section>
</section>
