<header>
    <div class="header-content">
        <style type="text/css">
        div.b {
            font-size: 50px;
            }
        div.s {
            font-size: 20px;
        }
        div.fol {
            font: outline;
        }
        </style>
        <div class="header-content-inner">
            <img src="img\latest.jpg" class="mx-auto d-block img-circle" width="200" height="200">

            
            <div class="b"><b>Sajjad Ayoubi</b></div>
        
            <hr width="100">
            <div class="fol">
            <p><b>MSc in Computer Science @ MUN
            <br>Data Science & Deep Learning & Natural Language Processing & Computer Vision</b>
            <br><b>Open Srouce</b>, <b>Tensorflow</b>, <b>PyTorch</b>
            </p>
            </div>
            
            <a target = "_blank" href="/cv.html" class="btn btn-primary btn-xl">CV</a>
            <a target = "_blank" href="https://virgool.io/@amintaheri90/" class="btn btn-primary btn-xl">Blog</a>
            <a target = "_blank" href="../cert_gal.html" class="btn btn-primary btn-xl page-scroll">Certificates</a>
            <br>
            <br>

            <div class = "animated bounceIn"  style = "animation-duration: 2s; color:rgb(75, 177, 177)">    
               
                <a style = "color:rgb(75, 177, 177)" href="mailto:{{ site.email }}">
                    <i style="margin:5px;" class="fa fa-envelope-o fa-2x "></i>
                </a>
        
                <a style = "color:rgb(75, 177, 177)" target = "_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                    <i style="margin:5px;" class="fa fa-linkedin fa-2x "></i>
                </a>
        
                <a style = "color:rgb(75, 177, 177)" target = "_blank" href="https://twitter.com/{{ site.twitter_username }}">
                    <i style="margin:5px;" class="fa fa-twitter fa-2x"></i>
                </a>

                <a style = "color:rgb(75, 177, 177)" target = "_blank" href="https://github.com/{{ site.github_username }}">
                    <i style="margin:5px;" class="fa fa-github fa-2x"></i>
                </a>

                <a style = "color:rgb(75, 177, 177)" target = "_blank" href="https://t.me/{{ site.telegram_username }}">
                    <i style="margin:5px;" class="fa fa-paper-plane-o fa-2x"></i>
                </a>

                <a style = "color:rgb(75, 177, 177)" target = "_blank" href="https://instagram.com/{{ site.instagram_username }}">
                    <i style="margin:5px;" class="fa fa-instagram fa-2x"></i>
                </a>



                <!-- 
                    <a target = "_blank" href="https://kaggle.com/{{ site.kaggle_username }}">
                        <i style="margin:5px;" class="animate tada fab fab-kaggle fa-2x"></i>
                    </a>
                -->

            </div> 
            </div>
            </div>
</header>
